*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background: rgb(253, 245, 236);
}
.container{
    margin-left: 80px;
}
.main-header{
    height: 80px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
}
h1{
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    font-style: italic;
    font-size: 27px;
    font-weight: 600;
}
.icon{
    height: 50px;
    width: 50px;
}
.brand-logo{
    display: flex;
    align-items: center;
    flex: 1;
    padding: 0 3%;
}
.marketing-container{
   flex: 2;
}
.contact-container{
    flex: 3;
    text-align: end;
    padding: 0 5%;
}
.btn-start{
    font-size: 17px;
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 500;
    color: rgb(49, 48, 48);
    background: none;
    border: none;
    padding: 0 15px;
    cursor: pointer;
}
.btn-try{
    font-size: 17px;
    font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 500;
    color: #fff;
    background: #047a67;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    height: 50px;
    cursor: pointer;
}

.sub-title{
    color: #03463b;
    font-size: 50px;
    font-family: sans-serif;
    width: 90%;
    font-weight: 600;
    padding-bottom: 3%;
}
h3{
    height: 40px;
    width: 80%;
    font-family: sans-serif;
    font-weight: 200;
    color: rgb(99, 102, 102);
}
.input-field{
    width: 80%;
    height: 50px;
    border-radius: 5px;
    border: 0.5px solid rgb(131, 129, 129);
    padding: 0 2%;
    font-size: 15px;
    margin: 5% 0;
    font-weight: 400;
}
#btn-green{
    height: 50px;
    color: #fff;
}
.shopify{
    width: 49%;
    float: right;
    margin-top: 7%; 
}

.left-box {
    width: 50%;
    float: left;
    padding: 7% 0% 0 2%;
}
.caption{
    font-size: 15px;
    width: 80%;
    color: rgb(88, 87, 87);
    font-weight: 200;
    font-family: sans-serif;
}
.responsive{
  width: 100%;
  height: auto;
}


